
.header{
    display: grid;
    grid-template-rows: repeat(2,auto);
    position: sticky;
    display: block;
    top: 0;
    width: 100%;
    padding-top: -400px;
}
.header1{
    background-color: maroon;
    /* max-width: 100%; */
    min-height: 42px;
    color: white;
    font-size: 15px;


}

.inh1{
    padding-left: 10px;
    padding-right: 10px;
  /* text-align: center; */
  margin-top: 4px;
    display: grid;
    grid-template-columns:repeat(3,33%);
  

}

.minh1{
display: flex;
gap: 1.5em;
/* margin-top: 20px; */
}

.header2{
    background-color: #f3f3f3;
    display: grid;
  min-height: 42px;
  border-bottom: solid thin black
  ;
}
.inh2{    padding-left: 10px;
    padding-right: 10px;
  /* text-align: center; */
  margin-top: 4px;
    display: grid;
    grid-template-columns:40% 20% 40%;}

    .btn{
        display: flex;
        gap: 1.5em;
     border-radius: 0%;
        background-color: white;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        border-style: solid;
        border-width: thin;
       
    }
.img_responsive{
    height: auto;
   
    width: 100%;
    max-width: 100%;
margin-bottom: -4px;
    
}
.sptbutton{
    min-height: 70px;
    background-color: maroon;
    
}

.msptbutton{
    display: flex;
    /* justify-content: center; */
    margin-left: 30%;
 padding-top: 20px;
  flex-direction: row;
  color: white;
  gap: 1.5em;
}

.mbtn{
    
            display: flex;
        gap: 1.5em;
     border-radius: 0%;
        background-color: maroon;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        border-style: solid;
        border-width: thin;
        color: white;
        min-width: 100px;
       justify-content: center;
       min-height: 30px;
}
.container1{
  /* width: 100%; */
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.news{
 font-weight:thin;
 font-size: 30px;
 justify-content: center;
 text-align: center;
 margin-bottom: 30px;
}

.img_p{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    gap: 1.5em;
}

.img_grid{
    display: flex;

    flex-direction: column;
    height: 348px;
}
.ig{
    background-color: lightgray;
   text-align: center;
    font-size: 20px;
    height: 100%;
    gap: 1.2em;
    padding-top: 20px;
    /* justify-content:left; */
    text-align: left;
    padding-left: 10px;
}

.mmargin{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: white;
}

.lgu{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
}

.lgu1{
    background-color: #4d4d4d;
    max-height: 309px;
}

.lgu2{
    padding: 30px;
    text-align: center;
    font-weight: lighter;
    color: white;
}

.lgu3{
    padding-top: 30px;
}

.GDU{
    display: grid;
grid-template-columns: 50% 50%;
    max-height: 400px;
    margin-top: 150px;
    background-color: #f3f3f3;
}
.GDU1{
    padding: 30px;
    /* text-align: center; */
    font-weight: lighter;
    color: maroon;
}
.GDU2{
   padding-left:30px;
   padding-right: 30px;
   font-size: 22px;
}
.value{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 70px;
}
.value1{
    margin-left: 40%;
    color: maroon;
    font-size: 30px;
}

.value2{
      font-size: 20px;
      /* font-style: italic; */
}
.container2{
    margin-top: 20px;
    max-height: 600px;
    height: 600px;
        background-color: #f3f3f3;
        display: grid;
        grid-template-rows: 30% 70%;
}
.ic2{
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight:200;
    color: #4d4d4d;
}
.ic3{
    display: grid;
    grid-template-columns: repeat(2,1fr);

  margin-left: 120px;
  margin-right: 100px;
  margin-top: -40px;
 
}

.img_responsive3{
    height: 278px;

    width: 438px;
   
    
}
.iic3{
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 438px;
}
.wwd{
    color: maroon;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

}
.wwd1{
    margin-left: 10px;
}
.wwd2{
    margin-top: 10px;
    margin-left: 10px;
    color: maroon;
}

.footer{
    background-color:#4d4d4d;
    height: 525px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    color: white;
    padding-top: 70px;
    padding-left: 20px;
}
.f1{
  margin-left: 40px; 
}
.f2{
    margin-top: -20px;
}
.f3{
    margin-bottom: 10px;
}